$blueColor: #0097e1;
$orangeColor: #f0750f;

 @media only screen and (min-width: 300px) and (max-width:1000px){
  .content{
    font-size: 1.8em !important;
    form{
      div{
        flex-wrap: wrap;
        select{
          width: 100% !important;
          height: 70px;
          font-size: 0.8em !important;
          margin-bottom: 3% !important;
        }
      }
    }
    .btn-field{
      flex-wrap: wrap;
      .btn-orange{
        width: 65% !important;
        height: 10vh !important;
        font: inherit;
        margin-bottom: 2%;
      }
    }
  }
}

@mixin flex($direction,$justify1,$justify2){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify1;
  align-items: $justify2;
}
@mixin title-underline {
  width: 30%;
  border: 1px solid $blueColor;
  margin-left: 2px;
}
@mixin btn-color($color,$radius:15px){
  background: $color;
  border-radius: $radius;
}
%reset {
  margin: 0;
  padding: 0;
}
body {
  @extend %reset;
  display: flex;
  @include flex(column,center,center);
  justify-items: center;
}
html {
  @extend %reset;
}
.header {
  width: 100%;
  height: 12%;
  background-color: $orangeColor;
  font-size: 2em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.content{
  margin-top: 1vh;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex: inherit;
  & > div{
  margin-bottom: 2vh;
  }
  & > form{
    margin-bottom: 2vh;
  }
  img{
    margin-bottom: 2vh;
    width: 100%;
    height:15vh;
    object-fit: cover;
    object-position: center bottom;
  }
  form{
    display: flex;
    flex:inherit;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    div{
      @include flex(row, center ,center );
      width: 60%;
      label{
        width: 50%;
        display: inline-block;
      }
      select{
        width:50%;
        margin: 2px 0 2px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-align-last: center;
      }
      input{
        @extend select;
      }
    }
  }
}
.btn-field{
  @include flex(row,center,center);
  width:100%;
  .btn-orange{
    width: 60%;
    height: 10vh;
  }
}
.btn-orange{
  @include btn-color($orangeColor);
  @include flex(row,center ,center );
  text-decoration: none;
  color: black;
}
.btn-blue{
  @extend .btn-orange;
  background: $blueColor;
}
.additional-info{
  @include flex(row,center,center );
  width: 100%;
  div{
    width: calc(100%/3 - 6%);
  }
  hr{
    @include title-underline;
  }
}
.client-reviews{
  @include flex(column,center ,center );
  div{
    width: 100%;
    hr{
      @include title-underline;
    }
  }
}
.vertical-line {
  width: 2px !important;
  margin: 0 3% 0 3%;
  border-left: 2px solid $orangeColor;
  height: 90%;
}
